<div class="container">
  <div class="box">
    <section id="search-area" class="hidden">
      <div id="input-container">
        <input type="text" id="city" placeholder="Digite o nome da cidade...">
        <button id="searchBtn">Ver Clima</button>
      </div>
      <div>
        <div class="res">
          <p id="country">Cidade: <span></span></p>
          <p id="description">Ceu: <span></span></p>
          <p id="temperature">Temperatura: <span></span></p>
        </div>
      </div>
    </section>

  </div>
</div>
